/*Colors:*/

//Useful for making subtle box shadows
$dark-transparent: hsla(243, 87%, 12%, 15.7%);
$dark-very-transparent: hsla(243, 87%, 12%, 5.7%);

/*Mixins*/

$dark-purple: hsl(257, 67%, 51%);
$light-purple: hsl(257, 100%, 64%);

$light-pink: hsl(347, 97%, 70%);
$light-orange: hsl(41, 100%, 70%);

$black-half-transparent: hsla(243, 87%, 12%, 66%);


$github-dark:#2b3137;
$github-light:#fafbfc;

/* Common breakpoints */

// $bp-none < 640px
$breakpoint-xsm:490px;
$breakpoint-sm:640px;
$breakpoint-board:685px;
$breakpoint-md:768px;
$breakpoint-lg:1024px;
$breakpoint-xl:1280px;
$breakpoint-2xl:1536px;


/*For z-indexing*/

$z-layer-furthest: 0;
$z-layer-shadow: 10;
$z-layer-counter: 15;
$z-layer-white: 20;
$z-layer-close: 100;
$z-layer-very-close: 190;
$z-layer-closest: 200;

/*Animation*/
$min-counter-fall-height-large: 64px;
$min-counter-fall-height-small: 64px;

$ball-place-offset-large:-500px;

//Speed at which the counter falls. measured in px/second
$counter-fall-speed: 64px * 6;




@mixin space-grotesk($weight) {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

