
.overlay {
    width: 100%;
    height:fit-content;
    top: 0;
    left: 0;
    background: #0000;
    opacity: 0.5;
    filter: blur(2px); /* required for opacity to work in IE */
}


.no-anim
{
    animation:none !important;
}

.display-none
{
    display:none !important; // Used by javascript so as to avoid adding an inline-style that would override my CSS.
}
.display-flex
{
    display:flex !important; // Used by javascript so as to avoid adding an inline-style that would override my CSS.
}
