<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
    Hello 👋, I'm Andrei, a First-Class Honours Master's graduate in Computer Science and Artificial Intelligence. I enjoy programming, reading, and exploring the inner workings of computers. Currently, I am pursuing a full-stack web developer role and working on a SAAS project called portfolios.fit.
    </p>  

    <p>  
    I have a solid understanding of web fundamentals gained through current daily practice, and I am skilled in modern front-end frameworks and tools such as React.js and TypeScript. In my projects, I have utilized Node.js with Fastify for the backend, and I am adaptable to various frameworks and languages, including the C# ecosystem (ASP.NET MVC and ASP.NET Core).
    </p>  

    <p>  
    During my university studies, I gained experience with C, Java, Python, and MATLAB, and developed a strong grounding in data structures and algorithms with a focus on Artificial Intelligence models.
    </p>  
    <p>
    For more info, check out my <a href="https://www.andreitihoan.com/projects">projects</a> and <a href="https://www.andreitihoan.com/writing">writing</a>.
    
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
