.green-link
{
    position:relative;
    display:flex;
    align-items:center;
    width:fit-content;
    gap:5px;
    color: $moderate-cyan;
    border-bottom:1px solid $moderate-cyan;
    @include open-sans(400);
    text-decoration:none;

    .link-icon
    {
        width:16px;
        height:16px;
    }
}

.green-link:hover
{
    opacity:0.5;
}



@media (max-width: $breakpoint-md)
{
    .green-link
    {
        margin-top:2rem;
        margin-left:auto;
        margin-right:auto;
    }

    
}


