.scene-main-menu
{
    display:block;
    padding-top:1px;
    position:relative;
    background-color:$dark-purple;
    z-index:$z-layer-furthest;
}


@media (max-width:$breakpoint-xsm)
{
    
    .scene-main-menu
    {
        background-color:$light-purple;
    }
}


