.counter
{
    position:relative;
    width:70px;
    height:75px;
}

.counter-player1
{
    background-image:url("assets/connect_four/images/counter-red-large.svg");
}

.counter-player2
{
    
    background-image:url("assets/connect_four/images/counter-yellow-large.svg");
}

// Places a yellow circle inside the counter if you won
.counter-won::before
{
    width:34px;
    height:34px;
    content:"";

    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);

    box-sizing:border-box;
    border: 6px solid white;
    border-radius:50%;
}


@media (max-width:$breakpoint-board)
{
    .counter
    {
        width:41px;
        height:46px;
    }
    .counter-player1
    {
        background-image:url("assets/connect_four/images/counter-red-small.svg");
    }
    .counter-player2
    {
        background-image:url("assets/connect_four/images/counter-yellow-small.svg");
    }
}


