.marker
{
    position:absolute;
    width:38px;
    height:36px;
    top:-40px;
    //left: 64px * 6;


    z-index:$z-layer-closest;
    animation-name: bobbing;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
    
}

.marker-player1
{
    background-image:url("assets/connect_four/images/marker-red.svg");
}
.marker-player2
{
    background-image:url("assets/connect_four/images/marker-yellow.svg");
}

@keyframes bobbing 
{
  0%   {transform:translate(0, 0px);}
  50%   {transform:translate(0, 10px);}
  100%   {transform:translate(0, 0px);}
}


@media (max-width:$breakpoint-lg)
{
    .marker
    {
        display:none;
    }
}

